<section class="kss-documentation">
    {{#if homepage}}
    <article class="kss-markdown">
        {{{homepage}}}
    </article>
    {{else}}

    <!-- display each section, in order. the "root" element comes first in this
                loop, and can be detected using the "#if @first" block as seen below. -->
    {{#each sections}}
    {{#if @first}}
    <header class="kss-section kss-section--depth-{{depth}}" id="kssref-{{referenceURI}}">
        {{else}}
        <section class="kss-section kss-section--depth-{{depth}}" id="kssref-{{referenceURI}}">
            {{/if}}

            <article class="kss-section__content">
                {{#if source.filename}}
                <p class="kss-section__source">Source:
                    <span>
                        {{source.filename}}
                    </span>, line
                    <span>
                        {{source.line}}
                    </span>
                </p>
                {{/if}}

                <a class="kss-section__permalink" href="#kssref-{{referenceURI}}">
                    <h {{depth}} class="kss-section__item kss-section__item--depth-{{depth}}">
                        <span class="kss-section__ref">
                            {{referenceNumber}}
                        </span>

                        <span class="kss-section__name">
                            {{header}}
                        </span>
                    </h {{depth}}>
                </a>

                {{#if description}}
                <div class="kss-section__description
                            {{#if deprecated}} state-deprecated{{/if}}
                            {{#if experimental}} state-experimental{{/if}}">
                    {{{description}}}
                </div>
                {{/if}}

                {{#if parameters}}
                <ul class="kss-parameters">
                    {{#each parameters}}
                    <li class="kss-parameters__item">
                        <p class="kss-parameters__description">
                            {{{description}}}
                            {{#if defaultValue}}
                            Defaults to:
                            <code>
                                {{defaultValue}}
                            </code>
                            {{/if}}
                        </p>
                        <code class="kss-parameters__name">
                            {{name}}
                        </code>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </article>

            {{#if example}}
            <article class="kss-section__modifiers">
                <h1 class="kss-modifiers__heading">Exemplo{{#if modifiers}}s{{/if}}
                </h1>

                {{#if modifiers}}
                <h2 class="kss-modifiers__name">
                    Estilo Padrão
                </h2>
                {{/if}}

                <div class="kss-modifiers__example">
                    {{{markup}}}
                </div>
                <div class="div-markup">
                    <code id="clipboard-default-{{@index}}" class="language-markup">
                        {{markup}}
                    </code>
                    <a class="clipboard-btn" data-clipboard-target="#clipboard-default-{{@index}}">
                        <i class="fas fa-clipboard"></i>
                    </a>
                </div>

                {{#each modifiers}}
                <article class="kss-modifiers__modifier">
                    <p class="kss-modifiers__description">
                        {{{description}}}
                    </p>

                    <h2 class="kss-modifiers__name">
                        {{name}}
                    </h2>
                    
                    <div class="kss-modifiers__example">
                        {{{markup}}}
                    </div>

                    <div class="div-markup">
                        <code id="clipboard-{{@index}}" class="language-markup">
                            {{markup}}
                        </code>
                        <a class="clipboard-btn" data-clipboard-target="#clipboard-{{@index}}">
                            <i class="fas fa-clipboard"></i>
                        </a>
                    </div>
                </article>
                {{/each}}
            </article>
            {{/if}}

            {{#if @first}}
    </header>
    {{else}}
</section>
{{/if}}
{{/each}}
{{/if}}
</section>